<div class="" (click)="selectCheckBox(item)">
    <input *ngIf="item.done && filter!='active'" class="mt-3 me-3" type="checkbox" value="" checked>
    <label *ngIf="item.done && filter!='active'" class="text-decoration-line-through" for="">
        {{item.description}}
    </label>
    <input *ngIf="!item.done && filter!='completed'" class="mt-3 me-3" type="checkbox" value="">
    <label *ngIf="!item.done && filter!='completed'" class="" for="">
        {{item.description}}
    </label>
</div>
<span *ngIf="item.done && filter=='completed'" (click)="deleteItem(item)" type="button" value="Delete"
    class="material-icons mt-3">delete_outline</span>

